* {
  padding: 0;
  margin: 0;
}

.video {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
}

video {
  width: 100%;
  margin-bottom: 40px;
}

.video h2 {
  font-size: 1.92rem;
  margin-bottom: 20px;
}

.video h1 {
  font-size: 4rem;
  color: var(--apricot);
  font-weight: 300;
  margin-bottom: 30px;
}

.video div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.video button {
  width: 5vw;
  background-color: transparent;
  font-family: work;
  font-size: 1.6rem;
  color: var(--grau);
  border: 1px solid var(--apricot);
  border-radius: 5px;
}

.video p {
  font-size: 1.6rem;
  margin: 20px 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  padding: 100px 0;
  width: 50%;
  margin: 0 auto;
}

.grid img {
  width: 100%;
}

.grid img:nth-of-type(1) {
  /* column: 1/2; */
  grid-row: 1/2;
}

.grid div:nth-of-type(1) {
  grid-row: 1/2;
}

.grid img:nth-of-type(2) {
  /* column: 2/3; */
  grid-row: 2/3;
}
